<div class="mt-20 sm:mt-0 min-h-[clac(100vh-80px)]">
  <!-- header -->
  <%- include('partials/header')  %>

  <!-- Posts -->
  <% if (locals.messages) { %>

  <!-- display messages -->
  <% messages.map(msg => { %>
  <%- include('partials/post', { msg }) %>
  <% }) %>

  <!-- end of the list -->
  <div class="text-center py-8 text-zinc-500">End of feed</div>

  <% } else { %>
  <%- include('partials/no-posts') %>
  <% } %>

  <!-- Floating adding trigger -->
  <button
    id="post-trigger-fixed"
    type="button"
    class="sm:hidden fixed bottom-4 right-4 p-2 bg-sky-500 outline-none text-white font-semibold rounded-full cursor-pointer transition-colors duration-200 hover:bg-sky-400 focus:ring-2 focus:ring-offset-1 focus:ring-sky-400"
    aria-label="Create new post"
    title="Create new post"
  >
    <span class="block w-full h-full" aria-hidden="true">
      <span aria-hidden="true"> <%- include('partials/icons/plus') %> </span>
    </span>
  </button>
</div>

<script type="module" src="/scripts/homepage.js"></script>
