<div class="mt-20 sm:mt-0 min-h-[clac(100vh-80px)]">
  <!-- header -->
  <%- include('partials/header')  %>

  <!-- Posts -->
  <% if (locals.messages) { %>

  <!-- display messages -->
  <% messages.map(msg => { %>
  <%- include('partials/post', { user: null, msg }) %>
  <% }) %>

  <!-- end of the list -->
  <div class="text-center py-8 text-zinc-400">End of feed</div>

  <% } else { %>
  <%- include('partials/no-posts') %>
  <% } %>
</div>

<script type="module" src="/scripts/homepage.js"></script>
