<% const LOGO_ICON = `
<svg
  xmlns="http://www.w3.org/2000/svg"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="url(#gradient)"
  stroke="url(#gradient)"
  stroke-width="0"
  stroke-linecap="round"
  stroke-linejoin="round"
  class="lucide lucide-club-icon lucide-club w-full h-auto"
>
  <defs>
    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
      <stop offset="0%" style="stop-color: #2563eb; stop-opacity: 1" />
      <stop offset="60%" style="stop-color: #38bdf8; stop-opacity: 1" />
      <stop offset="100%" style="stop-color: #7dd3fc; stop-opacity: 1" />
    </linearGradient>
  </defs>
  <path
    d="M12,2C14.3,2 16.3,4 16.3,6.2C16.21,8.77 14.34,9.83 14.04,10C15.04,9.5 16.5,9.5 16.5,9.5C19,9.5 21,11.3 21,13.8C21,16.3 19,18 16.5,18C16.5,18 15,18 13,17C13,17 12.7,19 15,22H9C11.3,19 11,17 11,17C9,18 7.5,18 7.5,18C5,18 3,16.3 3,13.8C3,11.3 5,9.5 7.5,9.5C7.5,9.5 8.96,9.5 9.96,10C9.66,9.83 7.79,8.77 7.7,6.2C7.7,4 9.7,2 12,2Z"
  />
</svg>
`; %>

<div class="min-h-screen flex flex-col justify-between">
  <div
    class="flex flex-col items-center justify-center w-full max-w-90 mx-auto flex-1 px-5"
  >
    <span class="block size-30 md:-mt-20" aria-hidden="true">
      <%- LOGO_ICON %>
    </span>
    <h1 class="text-3xl sm:text-5xl font-bold text-zinc-950 mt-6 mb-1">
      Members Only
    </h1>
    <p class="text-zinc-700 font-semibold text-xl">What's up?</p>
    <div class="flex flex-col items-center gap-3 w-full mt-8">
      <a
        href="/auth/register"
        class="w-full text-center bg-sky-500 py-3 outline-none text-white font-semibold rounded-md cursor-pointer transition-colors duration-200 hover:bg-sky-400 focus:ring-2 focus:ring-offset-1 focus:ring-zinc-400"
      >
        Create account
      </a>
      <a
        href="/auth/login"
        class="w-full text-center bg-zinc-200 py-3 outline-none text-zinc-950 font-semibold rounded-md cursor-pointer transition-colors duration-200 hover:bg-zinc-300 focus:ring-2 focus:ring-offset-1 focus:ring-zinc-400"
      >
        Sign in
      </a>
    </div>
  </div>
  <!-- footer -->
  <%- include('partials/footer') %>
</div>
