<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/build.css" />

    <title>Members Only</title>
  </head>

  <body class="">
    <div class="flex justify-center">
      <!-- sidebar -->
      <% if (locals.currentUser) { %>
      <%- include('partials/sidebar') %>
      <% } %>

      <!-- main -->
      <main class="w-full max-w-xl"><%- body %></main>

      <!-- Search -->
      <% if (locals.currentUser) { %>
      <%- include('partials/right-side') %>
      <% } %>
    </div>

    <!-- Modal -->
    <%- include('partials/create-modal') %>
  </body>
</html>
