<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/build.css" />

    <title>Members Only</title>

    <script type="module" src="/scripts/main.js"></script>
  </head>

  <body>
    <!-- Navbar -->
    <% if (locals.currentUser) { %>
    <%- include('partials/navbar') %>
    <% } %>

    <!-- Main -->
    <main class="max-w-[600px] min-h-[calc(100vh-56px)] mx-auto">
      <%- body %>
    </main>
  </body>
</html>
