<div class="hidden xl:block sticky top-0 w-80 px-5 h-screen bg-white">
  <div class="flex flex-col justify-between items-center h-full">
    <form action="" class="relative mt-4">
      <div
        class="size-5 absolute top-1/2 -translate-y-1/2 left-4 text-zinc-400"
        aria-hidden="true"
      >
        <%- include('./icons/explore') %>
      </div>
      <input
        id="search"
        type="text"
        name="q"
        aria-label="Search input"
        autocomplete="off"
        spellcheck="false"
        class="w-full pl-12 h-12 pr-8 outline-none rounded-xl focus-within:bg-white placeholder:text-zinc-400 placeholder:font-light border border-zinc-100 bg-zinc-50"
        placeholder="Search..."
      />
    </form>

    <!-- footer -->
    <%- include('./footer') %>
  </div>
</div>
