<footer
  class="flex justify-center items-center gap-2 px-4 py-2 border-t border-zinc-200 text-zinc-500"
>
  <p class="text-foreground/80 text-sm text-center">
    2025 &copy; Odin Project Assignment by
    <a
      href="https://github.com/jameschen215"
      target="_blank"
      aria-label="Go to author's Github repository"
      class="hover:underline focus:underline italic transition-all duration-200"
    >
      James Chen.
      <span class="sr-only">Open in new tab</span>
    </a>
    All rights reserved.
  </p>
</footer>
