<header
  id="main-header"
  class="fixed top-0 left-0 w-full bg-white z-30 transition-all transform-gpu duration-300 h-20 flex items-center justify-center border-b border-zinc-200 sm:relative"
>
  <!-- sidebar toggler -->
  <button
    id="sidebar-toggler"
    class="sm:hidden absolute top-1/2 left-4 -translate-y-1/2 size-6 cursor-pointer text-zinc-700"
    aria-label="Toggle navigation menu"
    aria-expanded="false"
    aria-controls="sidebar"
    type="button"
  >
    <%- include('./icons/menu') %>
  </button>

  <!-- logo -->
  <a href="/">
    <span class="block size-10" aria-hidden="true">
      <%- include('./icons/logo') %>
    </span>
  </a>
</header>
