<div class="flex flex-col items-center gap-5 mt-14">
  <span
    class="block size-30 p-7 text-zinc-300 bg-zinc-100 rounded-full"
    aria-hidden="true"
  >
    <%- include('./icons/message') %>
  </span>
  <span class="text-zinc-500 text-lg">No posts yet.</span>
</div>
